.main__panel-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.main__panel-element-one {
  grid-area: one;
}

.main__panel-element-two {
  grid-area: two;
}

.main__panel-element-last {
  grid-area: last;
}