.main__reviews-transition {
    display: flex;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
    cursor: pointer;
    text-decoration: none;
}

.main__reviews-transition:hover {
    opacity: .6;
}