.main__product-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 960px;
  margin-bottom: 36px;
}

@media all and (max-width: 1279px) {
  .main__product-section {
    flex-direction: column;
  }
}

@media all and (max-width: 767px) {
  .main__product-section {
    gap: 24px;
    margin-bottom: 28px;
  }
}