.main__sellUsedEquipment-partners-img {
    margin: 0 auto;
    object-fit: contain;
}

@media all and (max-width: 767px) {
    .main__sellUsedEquipment-partners-img {
      max-width: 264px;
      width: 100%;
      max-height: 83px;
      height: 100%;
    }
  }