.header__left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 177px;
}

@media all and (max-width: 1023px) {
  .header__left-block {
    max-width: 162px;
  }
}