.modal__close {
  position: absolute;
  right: 42px;
  top: 32px;
  cursor: pointer;
  margin: auto;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: 0;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media all and (max-width: 767px) {
  .modal__close {
    right: 28px;
    top: 25px;
    }
}
