.header__menu {
  display: inline-flex;
  justify-content: space-between;
  width: 86%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.54px;
  order: 1;
}

@media all and (max-width: 1279px) {
  .header__menu {
    min-width: 662px;
    font-size: 14px;
    line-height: 17.09px;
  }
}

@media all and (max-width: 1023px) {
  .header__menu {
    display: none;
  }
}
