.header__menu {
    display: inline-flex;
    justify-content: space-between;
    width: 86%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.54px;
}

@media all and (max-width: 1279px) {
    .header__menu {
      width: 682px;
      font-size: 14px;
      line-height: 17.09px;
    }
  }

  @media all and (max-width: 1023px) {
    .header__menu {
        display: none;
    }
}