@media all and (max-width: 1023px) {
    .header__search {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
  }

  @media all and (max-width: 694px) {
    .header__search {
        display: none;
    }
  }