.mailing__blocks {
    display: flex;
    flex-direction: column;
    max-width: 1290px;
    align-items: center;
    margin: 0 auto;
    padding: 0 75px;
}

@media all and (max-width: 1279px) {
    .mailing__blocks {
        max-width: 1195px;
        padding: 0 42px;
    }
}

@media all and (max-width: 1023px) {
    .mailing__blocks {
        padding: 0 33px;
    }
}

@media all and (max-width: 694px) {
    .mailing__blocks {
        padding: 0 16px;
    }
}