.main__basket-subheading-mini {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.09px;
  color: #9e9e9e;
  padding: 0;
  margin: 0;
}

.main__basket-subheading-mini:last-child {
  padding-right: 95px;
}

@media all and (max-width: 1279px) {
  .main__basket-subheading-mini:last-child {
    padding-right: 49px;
  }
}

@media all and (max-width: 1023px) {
  .main__basket-subheading-mini:last-child {
    padding-right: 66px;
  }
}
