.main__home-button {
  width: 101px;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: #FEDA5A;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}

.main__home-button:hover {
  opacity: .6;
}