.main__home-button {
  width: 101px;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: #feda5a;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  display: block;
}

.main__home-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 767px) {
  .main__home-button {
    height: 40px;
    width: 100%;
  }
}
