.main__panel-year {
  width: 156.41px;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .main__panel-year {
    width: 108px;
  }
}
