.main__product-choice {
  position: relative;
  display: flex;
  gap: 24px;
}

@media all and (max-width: 767px) {
  .main__product-choice {
    width: 100%;
    margin-bottom: 24px;
    overflow: hidden;
    overflow-x: scroll;
    gap: 16px;
  }
}
