.main__product-paragraph-description-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.65px;
    word-wrap: break-word;
    margin: -8px 0 0;
    text-decoration: none;
    color: #0085FF;
}