.main__sides-two {
  display: flex;
  justify-content: space-between;
  max-width: 341px;
  margin: 0;
  border-bottom: 1px solid #efefef;
}

@media all and (max-width: 767px) {
  .main__sides-two {
    margin: 0 0 16px;
  }
}
