.main__home-grid-block {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  max-height: 362px;
}

.main__home-grid-block:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.07);
}

@media all and (max-width: 767px) {
  .main__home-grid-block {
    max-height: 416px;
  }
}
