.main__home-grid-block {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 4px;
    box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.main__home-grid-block:hover {
    box-shadow: 30px 40px 30px rgba(0, 0, 0, 0.07);
}