.main__slider-img {
  width: 100%;
  height: 293px;
  border-radius: 4px;
  cursor: pointer;
}

@media all and (max-width: 1023px) {
  .main__slider-img {
    height: 320px;
  }
}

@media all and (max-width: 767px) {
  .main__slider-img {
    height: 245px;
  }
}
