.header {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 1440px;
  padding: 32px 60px;
  box-sizing: border-box;
  border-bottom: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

@media all and (max-width: 1279px) {
  .header {
    max-width: 1279px;
    padding: 24px 42px;
    gap: 24px;
  }
}