.main__bottom-headers-rubrication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 184px;
}

@media all and (max-width: 1279px) {
  .main__bottom-headers-rubrication {
    max-height: 248px;
  }
}

@media all and (max-width: 1023px) {
  .main__bottom-headers-rubrication {
    max-height: 255px;
  }
}

@media all and (max-width: 767px) {
  .main__bottom-headers-rubrication {
    max-height: 204px;
    gap: 32px;
  }
}