.main__article-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    margin: 0;
    color: #C5C5C5;
    text-decoration: none;
    max-width: 72px;
}

.main__article-date:hover {
    opacity: .6;
  }