.main__home-grid-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 0 16px;
}

@media all and (max-width: 767px) {
  .main__home-grid-bottom {
    margin: 24px 0 16px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}