.main__basket-panel-button {
  width: 15px;
  height: 15px;
  background: url(../../../images/__close_icons.svg) no-repeat center;
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

