.main__reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  border: 1px solid #efefef;
  border-radius: 4px;
}

@media all and (max-width: 1023px) {
  .main__reviews {
    padding: 16px;
  }
}


@media all and (max-width: 767px) {
  .main__reviews {
    gap: 24px;
    padding: 24px 16px;
  }
}
