.main__line {
  display: flex;
  padding: 24px 0 0 0;
  position: absolute;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  width: calc(100% - 124px);
}

@media all and (max-width: 767px) {
  .main__line {
    position: relative;
    padding: 12px 0 16px 0;
    gap: 4px;
  }
}

.main__line:last-child {
  margin: 0 28px 0 0;
}