.main__line {
  display: flex;
  padding: 24px 0 0 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media all and (max-width: 767px) {
  .main__line {
    padding: 12px 0 0 0;
    gap: 4px;
  }
}
