.main__article-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  margin: 0;
  text-decoration: none;
  color: #0d0d0d;
  height: 66px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 960px;
}

.main__article-subtitle:hover {
  opacity: .6;
}

@media all and (max-width: 1279px) {
  .main__article-subtitle {
    max-width: 869px;
  }
}

@media all and (max-width: 1023px) {
  .main__article-subtitle {
    max-width: 700px;
  }
}