.catalog__lot-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    color: #0D0D0D;
    letter-spacing: -0.1px;
    padding-right: 8px;
}

.catalog__lot-title:hover {
    opacity: .6;
}


@media all and (max-width: 419px) {
    .catalog__lot-title {
        max-width: 294px;
    }
}