.header__burger-menu {
    display: none;
}

.header__burger-menu:hover {
    opacity: .6;
}

@media all and (max-width: 1023px) {
    .header__burger-menu {
        display: inline;
        margin: auto;
        cursor: pointer;
    }
}