.main__nav_header {
    margin: 0;
    padding: 40px 0 8px;
    font-weight: 700;
    font-size: 28px;
    line-height: 37.8px;
    color: #0D0D0D;
}

@media all and (max-width: 1279px) {
    .main__nav_header {
      padding: 24px 0 0;
    }
  }
  