.header__filter-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.7px;
    text-decoration: none;
    color:#0D0D0D;
    border-radius: 4px;
    padding: 8px;
    background-color: #F6F6F6;
}