.main__home-grid-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  gap: 30px;
}

@media all and (max-width: 1279px) {
  .main__home-grid-blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 767px) {
  .main__home-grid-blocks {
    grid-template-columns: repeat(1, 1fr);
  }
}