.home__lot {
  max-width: 472px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: none;
  color: black;
  letter-spacing: -0.1px;
}

.home__lot:hover {
  opacity: 0.6;
}
