.main__basket-container-description {
  margin: 0;
  max-width: 445px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #0d0d0d;
}

@media all and (max-width: 1279px) {
  .main__basket-container-description {
    max-width: 278px;
    font-size: 14px;
    line-height: 16.7px;
  }
}

@media all and (max-width: 1023px) {
  .main__basket-container-description {
    max-width: 336px;
  }
}

@media all and (max-width: 767px) {
  .main__basket-container-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
