.menu__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 16px;
  list-style-type: none;
}

@media all and (max-width: 1023px) {
  .menu__ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

@media all and (max-width: 767px) {
  .menu__ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
