.footer__column-social {
    max-width: 194px;
    padding-right: 75px;
}

@media all and (max-width: 1279px) {
    .footer__column-social {
        padding-right: 42px;
    }
}

@media all and (max-width: 1023px) {
    .footer__column-social {
        padding-right: 33px;
    }
}

@media all and (max-width: 694px) {
    .footer__column-social {
        padding-right: 16px;
    }
}