.main__panel-manufacturer {
  width: 201px;
  height: 331px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  overflow: scroll;
}

@media all and (max-width: 767px) {
  .main__panel-manufacturer {
    width: 152px;
  }
}