.main__review-sending {
  display: flex;
  flex-direction: column;
  gap: 52px;
  max-width: 630px;
  width: 100%;
}

@media all and (max-width: 767px) {
  .main__review-sending {
    max-width: 100%;
    gap: 40px;
  }
}
