.main__review {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media all and (max-width: 1279px) {
  .main__review {
    gap: 16px;
  }
}

@media all and (max-width: 767px) {
  .main__review {
    gap: 0;
  }
}