.main__reviews-header {
  padding-top: 40px;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 43.2px;
}

@media all and (max-width: 1279px) {
  .main__reviews-header {
    font-size: 28px;
    line-height: 37.8px;
    padding-top: 41px;
  }
}

@media all and (max-width: 1023px) {
  .main__reviews-header {
    padding: 0;
  }
}

@media all and (max-width: 767px) {
  .main__reviews-header {
    font-size: 28px;
    line-height: 28px;
  }
}
