.main__basket-heading-subtitle {
  margin: 7px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  color: #c5c5c5;
}

@media all and (max-width: 767px) {
  .main__basket-heading-subtitle {
    margin: 0;
    padding-bottom: 1px;
  }
}
