.main__sellUsedEquipment-top {
  display: flex;
  flex-direction: row;
  gap: 59px;
  justify-content: space-between;
}

@media all and (max-width: 1279px) {
  .main__sellUsedEquipment-top {
    gap: 49px;
  }
}

@media all and (max-width: 1023px) {
  .main__sellUsedEquipment-top {
    flex-direction: column;
    gap: 24px;
  }
}

@media all and (max-width: 767px) {
  .main__sellUsedEquipment-top {
    gap: 32px;
  }
}