.main__basket-label {
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.54px;
  color: #0d0d0d;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .main__basket-label {
    font-size: 14px;
    line-height: 17.09px;
  }
}
