.main__container-telegram-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #0d0d0d;
  width: 100%;
  max-width: 551px;
  max-height: 42px;
}

@media all and (max-width: 1279px) {
  .main__container-telegram-title {
    line-height: 22.4px;
  }
}
