.footer__blocks {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

@media all and (max-width: 1279px) {
    .footer__blocks {
        max-width: 1279px;
    }
}

@media all and (max-width: 540px) {
    .footer__blocks {
        display: grid;
        grid-template-columns: 99px auto;
        grid-template-rows: 275px;
    }
}