.main__product-paragraphs-createdKP {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media all and (max-width: 767px) {
    .main__product-paragraphs-createdKP {
        margin-left: -106px;
    }
}