.main__panel {
  display: inline-flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  height: 42px;
}

@media all and (max-width: 767px) {
  .main__panel {
    display: inline-grid;
    grid-template-areas:
      "one two"
      "last last";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin: -16px 0 53px;
    width: 100%;
  }
}
