.main__panel {
  display: flex;
  gap: 15px;
  margin-bottom: 24px;
}

@media all and (max-width: 1023px) {
  .main__panel {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  .main__panel {
    display: grid;
    grid-template-areas:
      "one two"
      "last last";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
