.main__container-telegram {
  display: flex;
  gap: 16px;
  order: 2;
  height: 42px;
  align-items: center;
}

@media all and (max-width: 1279px) {
  .main__container-telegram {
    justify-content: space-between;
  }
}

@media all and (max-width: 1023px) {
  .main__container-telegram {
    margin-bottom: 24px;
  }
}

@media all and (max-width: 767px) {
  .main__container-telegram {
    gap: 12px;
    margin: -8px 0 32px;
    flex-direction: column;
    height: 96px;
  }
}