.main__basket-heading-title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 37.8px;
  color: #0d0d0d;
}

@media all and (max-width: 767px) {
  .main__basket-heading-title {
    line-height: 32.4px;
  }
}

@media all and (max-width: 515px) {
    .main__basket-heading-title {
      max-width: 193px;
    }
  }
