.main__sellUsedEquipment-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 60px;
}

@media all and (max-width: 767px) {
  .main__sellUsedEquipment-bottom {
    gap: 24px;
    padding-bottom: 40px;
  }
}
