.header__basket {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: auto 0;
  order: 3;
  text-decoration: none;
}

@media all and (max-width: 1023px) {
  .header__basket {
    order: 2;
  }
}
