.main__review-sending-input-sellUsedEquipment {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.98px;
  border-radius: 4px;
  border: 1px solid #efefef;
  height: 336px;
  outline: none;
  padding: 16px;
  white-space: wrap;
}

.main__review-sending-input-sellUsedEquipment:focus {
  border: none;
  outline: 1px solid #feda5a;
}

.main__review-sending-input-sellUsedEquipment::placeholder {
  color: rgba(197, 197, 197, 0.9);
}

.main__review-sending-input-sellUsedEquipment:focus::placeholder {
  color: rgba(197, 197, 197, 0.3);
}

@media all and (max-width: 1023px) {
  .main__review-sending-input-sellUsedEquipment {
    font-size: 14px;
    line-height: 17.09px;
  }
}

@media all and (max-width: 767px) {
  .main__review-sending-input-sellUsedEquipment {
    height: 159px;
  }
}