.header__search-button {
    position: absolute;
    top: 17px;
    right: 0px;
    width: 145px;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #FEDA5A;
    cursor: pointer;
    border: none;
    border-radius: 0 4px 4px 0;
}

.header__search-button:hover{
  opacity: .6;
}

@media all and (max-width: 1279px) {
    .header__search-button {
      width: 140px;
      height: 42px;
    }
  }