.main__basket-container-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
}

@media all and (max-width: 767px) {
  .main__basket-container-main {
    flex-direction: column;
  }
}
