.main__basket-container-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
  position: relative;
}

@media all and (max-width: 1279px) {
  .main__basket-container-main {
    gap: 24px;
  }
}

@media all and (max-width: 767px) {
  .main__basket-container-main {
    flex-direction: column;
  }
}
