.main__blocks {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 75px;
}

@media all and (max-width: 1279px) {
  .main__blocks {
    padding: 0 34px;
  }
}

@media all and (max-width: 1023px) {
  .main__blocks {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 767px) {
  .main__blocks {
    padding: 0 16px;
  }
}