.main__error-img {
    position: absolute;
    padding-top: 160px;
}

@media all and (max-width: 1279px) {
    .main__error-img {
        padding-top: 149px;
    }
}

@media all and (max-width: 1023px) {
    .main__error-img {
        padding-top: 99px;
    }
}