.main__links-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 42px;
}

@media all and (max-width: 1023px) {
    .main__links-section {
        margin: 24px 0 0;
    }
}