.main__contacts {
    display: flex;
    gap: 46px;
    flex-direction: column;
    margin-top: 40px;
    max-width: 359px;
}

@media all and (max-width: 1279px) {
    .main__contacts {
        max-width: 300px;
        margin-top: 24px;
    }
}

@media all and (max-width: 1023px) {
    .main__contacts {
        max-width: 100%;
        flex-direction: row;
        margin: 24px 0 32px;
    }
}

@media all and (max-width: 767px) {
    .main__contacts {
        max-width: 300px;
        flex-direction: column;
        gap: 24px;
    }
}