.main__button-sell {
    width: 280px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    color: #0D0D0D;
    margin: 48px 0 0 0;
    padding: 0 9px;
    cursor: pointer;
    background: rgba(242, 59, 62, 0.1);
    border: 1px solid #F23B3E;
    border-radius: 4px;
}

.main__button-sell:hover {
    opacity: .6;
}

@media all and (max-width: 1279px) {
    .main__button-sell {
        width: 246px;
        font-size: 12px;
        line-height: 14.65px;
    }
}

@media all and (max-width: 1023px) {
    .main__button-sell {
        width: 280px;
        margin: 0;
        padding: 0 13px;
        order: 1;
    }
}

@media all and (max-width: 540px) {
    .main__button-sell {
        width: 328px;
        order: 1;
    }
}