.footer__menu-links {
    max-width: 474px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 1023px) {
    .footer__menu-links {
        gap: 20px;
    }
}