.main__basket-heading {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 12px;
  padding: 31px 0 40px;
}

@media all and (max-width: 767px) {
  .main__basket-heading {
    display: inline-flex;
    margin: -32px 0 0;
    padding: 0 0 32px;
    align-items: end;
  }
}

@media all and (max-width: 515px) {
  .main__basket-heading-title {
    gap: 0;
  }
}