.main__basket-form-container {
  padding: 31px 0 20px;
  max-width: 328px;
  width: 100%;
}

@media all and (max-width: 1279px) {
  .main__basket-form-container {
    max-width: 284px;
  }
}

@media all and (max-width: 1023px) {
  .main__basket-form-container {
    padding: 19px 0 0;
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
    .main__basket-form-container {
      padding: 11px 0 0;
    }
  }
